<%- include('includes/head.ejs') %>
</head>
<%- include('includes/loggedin.ejs') %>
<%- include('includes/navigation.ejs') %>
<H1>welcome Home</H1>
    <p><%= user.name %> </p> 
<%- include('includes/end.ejs') %>