<%- include('includes/head.ejs') %>
</head>
<%- include('includes/loggedin.ejs') %>
<%- include('includes/navigation.ejs') %>
<H1>Message</H1>
<p id="message"> <%- message %> </p>
<%- include('includes/end.ejs') %>